/* Color Theme Swatches in Hex */
@blue: #003354;
@blue-dark1: #002943;
@blue-dark2: #001f32;
@blue-dark3: #000f19;
@blue-light1: #335c76;
@blue-light2: #8099aa;
@blue-light3: #b3c2cc;
@skyblue: #91BED4;
@skyblue-dark1: #7498aa;
@skyblue-dark2: #57727f;
@skyblue-dark3: #2b3940;
@skyblue-light1: #a7cbdd;
@skyblue-light2: #c8dfea;
@skyblue-light3: #e9f2f6;
@orange: #F26101;
@orange-dark1: #c24e01;
@orange-dark2: #793101;
@orange-dark3: #491d00;
@orange-light1: #f58134;
@orange-light2: #f9b080;
@orange-light3: #fcdfcc;

@font-sans: 'Muli', sans-serif;
@font-sans-bold: 'Passion One', sans-serif;
