/* Color Theme Swatches in Hex */
.container .form-row {
  margin-left: 0;
}
.container .box-customer {
  border: 0.5px solid #003354;
  border-radius: 5px;
  margin-left: 0;
}
.container .box-customer h1 {
  font-size: 12pt;
  color: #002943;
  font-weight: 700;
  margin-top: 10px;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.container .box-customer h2 {
  font-size: 12pt;
  color: black;
  font-weight: 600;
  margin-top: 10px;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.container .box-total {
  margin-left: 0;
}
.container .box-total h1 {
  font-size: 12pt;
  color: #002943;
  font-weight: 700;
  margin-top: 10px;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.container .box-total h2 {
  font-size: 12pt;
  color: black;
  font-weight: 600;
  margin-top: 10px;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.container .btn-tambah {
  border-radius: 10px;
  padding: 5px 30px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #003354;
  border: 3px solid #003354;
  background-color: #e9f2f6;
}
.container .btn-tambah:hover {
  background-color: #002943;
  color: #e9f2f6;
}
.container .btn-tambah:active {
  background-color: #335c76 !important;
}
.container .btn-tambah.disabled {
  background-color: #002943;
  color: #e9f2f6;
}
.container .box-filter {
  border: 0.5px solid #003354;
  border-radius: 5px;
  margin-right: 0 !important;
}
.container .box-filter h1 {
  font-size: 12pt;
  color: #335c76;
  font-weight: 600;
  margin-top: 10px;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.container .box-button {
  margin-top: 20px;
}
.container .box-content {
  border: 0.5px solid #003354;
  border-radius: 5px;
  height: 55vh;
  margin-top: 20px;
  overflow: auto;
}
.container .box-content table {
  margin-top: 15px;
}
.container .box-content table thead {
  color: #335c76;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
}
.container .box-content table img {
  height: 20px;
}
